{% include 'partials/head.html' %}

{% include 'partials/header.html'%}

<body>
    {% include 'partials/search.html'%}

    <main class="main-content-container">

        <div class="main-content main-content-list container">

            {% include 'partials/recipe.html' %}
            {% include 'partials/recipe.html' %}
            {% include 'partials/recipe.html' %}

        </div> <!--main-content-->

    </main> <!--main-content-container-->

    {% include 'partials/footer.html'%}

</body>
</html>